.section__padding {
  padding: 4rem 4rem;
}

.footer {
  background-color: #2a1474;
}

.sb__footer {
  display: flex;
  flex-direction: column;
}

.sb__footer-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 95%;
  text-align: left;
  margin-bottom: 1.5rem;
}

.sb__footer-links_div {
  width: 9.8rem;
  margin: 1rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: white;
}

a {
  color: rgb(175, 175, 179);
  text-decoration: none;
}

.socialmedia {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.socialmedia {
  width: 140%;
  margin: 0.5rem 0;
}

.sb__footer-links_div h1 {
  font-size: 1.4rem;
  line-height: 1rem;
  margin-bottom: 0.9rem;
}

.sb__footer-links_div {
  font-size: 0.8rem;
  line-height: 1rem;
  margin: 0.5rem 0;
  cursor: pointer;
}

.sb__footer-below {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.2rem;
}

.sb__footer-below-links {
  display: flex;
  flex-direction: row;
}

.sb__footer-below-links p {
  font-size: 0.9rem;
  line-height: 0.95rem;
  margin-left: 2rem;
  color: rgb(175, 175, 179);
  font-weight: 600;
  margin-top: 0.5rem;
}

hr {
  color: white !important;
  width: 100%;
}

.sb__footer-copyright p {
  font-size: 0.9rem;
  line-height: 0.95rem;
  color: rgb(255, 255, 255);
  font-weight: 600;
  margin-top: 0.5rem;
}

@media screen and (max-width: 850px) {
  .sb__footer-heading h1 {
    font-size: 1.8rem;
    line-height: 3.1rem;
  }
}

@media screen and (max-width: 550px) {
  .sb__footer-heading h1 {
    font-size: 2.1rem;
    line-height: 2.5rem;
  }

  .sb__footer-links_div {
    width: 1rem 0;
  }

  .sb__footer-btn p {
    font-size: 0.9rem;
    line-height: 1.4rem;
  }

  .sb__footer-below {
    flex-direction: column;
    justify-content: left;
  }

  .sb__footer-below-links {
    flex-direction: column;
  }

  .sb__footer-below-links p {
    margin-left: 0rem;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .sb__footer-heading h1 {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
}
